<p style="color: green"><%= notice %></p>

<%= render @user %>

<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>

<p>
  <strong>created_at</strong>
  <%= @user.created_at %>
</p>

<p>
  <strong>updated_at</strong>
  <%= @user.updated_at %>
</p>